<header id="employer-nav">
  <nav class="navbar navbar-expand-lg">
    <div id="navbar-menu">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/employer/details" routerLinkActive="active">
          <!-- <i class="fas fa-home"></i> -->
          <span translate>Edit Employer Details</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/employer/calendar" routerLinkActive="active">
          <!-- <i class="fas fa-question-circle"></i> -->
          <span translate>Employer Calendar</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/employer/departments" routerLinkActive="active">
          <!-- <i class="fas fa-home"></i> -->
          <span translate>Departments</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/employer/hourly-rates" routerLinkActive="active">
          <!-- <i class="fas fa-question-circle"></i> -->
          <span translate>Hourly Rates</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/employer/daily-rates" routerLinkActive="active">
          <!-- <i class="fas fa-home"></i> -->
          <span translate>Daily Rates</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/employer/piece-rates" routerLinkActive="active">
          <!-- <i class="fas fa-question-circle"></i> -->
          <span translate>Piece Rates</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/employer/addition-types" routerLinkActive="active">
          <!-- <i class="fas fa-home"></i> -->
          <span translate>Addition Types</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/employer/deduction-types" routerLinkActive="active">
          <!-- <i class="fas fa-home"></i> -->
          <span translate>Deduction Types</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/employer/savings-schemes" routerLinkActive="active">
          <!-- <i class="fas fa-home"></i> -->
          <span translate>Savings Schemes</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/employer/bank-accounts" routerLinkActive="active">
          <!-- <i class="fas fa-question-circle"></i> -->
          <span translate>Bank Accounts</span>
        </a>
      </div>
    </div>
  </nav>
</header>
